<script lang="ts">
	import type { BulkCardProps } from '$lib/types.js';

	export let data;
	const apires: BulkCardProps = data.data;
	const item = apires.items[0];

	let questions = [
		{ id: 1, text: `All` },
		{ id: 2, text: `Active` },
		{ id: 3, text: `Failures` }
	];

	let selected: { id: number; text: string };

	let answer = '';
</script>

<main class="flex flex-col justify-center items-center">
	<header
		class="absolute top-16 left-0 w-screen overflow-hidden py-4 bg-blue-100 text-center bg-opacity-60"
	>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint odit in quisquam quos! Fuga
		accusamus vero, sint accusantium deleniti velit magni saepe asperiores magnam totam. Nihil vel
		illum minima. Assumenda?
	</header>
	<div class="px-2 md:px-12 lg:px-20 pt-20 w-full flex flex-col gap-2">
		<div class="flex flex-row justify-between items-center w-full">
			<div class="flex flex-row gap-2 justify-center items-center">
				<div class="bg-gray-100 rounded-md hover:bg-gray-200 p-2 w-fit h-fit justify-items-start">
					<svg
						width="25px"
						height="25px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_iconCarrier">
							<path
								d="M9 6C9 7.65685 7.65685 9 6 9C4.34315 9 3 7.65685 3 6C3 4.34315 4.34315 3 6 3C7.65685 3 9 4.34315 9 6Z"
								stroke="#adacac"
								stroke-width="2"
							/>
							<path
								d="M21 18C21 19.6569 19.6569 21 18 21C16.3431 21 15 19.6569 15 18C15 16.3431 16.3431 15 18 15C19.6569 15 21 16.3431 21 18Z"
								stroke="#adacac"
								stroke-width="2"
							/>
							<path
								d="M15 3L12.0605 5.93945V5.93945C12.0271 5.97289 12.0271 6.02711 12.0605 6.06055V6.06055L15 9"
								stroke="#adacac"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M9 21L11.9473 18.0527V18.0527C11.9764 18.0236 11.9764 17.9764 11.9473 17.9473V17.9473L9 15"
								stroke="#adacac"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M12 6C14.8284 6 16.2426 6 17.1213 6.87868C18 7.75736 18 9.17157 18 12V15"
								stroke="#adacac"
								stroke-width="2"
							/>
							<path
								d="M12 18C9.17157 18 7.75736 18 6.87868 17.1213C6 16.2426 6 14.8284 6 12L6 9"
								stroke="#adacac"
								stroke-width="2"
							/>
						</g>
					</svg>
				</div>
				<div class="flex flex-col col-span-4 justify-center gap-1 flex-grow">
					<div
						class="text-sm font-semibold text-gray-700 flex flex-row justify-start items-center gap-2"
					>
						<h1 class="text-base lg:text-xl">{item.name}</h1>
						{#if item.ispublic}
							<span
								class="text-xs text-gray-500 px-2 py-0.5 rounded-sm border-[0.5px] border-gray-300"
								>public</span
							>
						{/if}
					</div>
					<div class="text-xs text-gray-500 md:text-sm lg:text-md">{item.git}</div>
				</div>
			</div>
			<div class="flex flex-row gap-3 justify-center items-center">
				<svg
					fill="#000000"
					width="25px"
					height="25px"
					viewBox="0 0 256 256"
					id="Flat"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g id="SVGRepo_iconCarrier">
						<path
							d="M231.92773,169.78029l-94.82031,65.64454a16.07612,16.07612,0,0,1-18.21484,0L24.07227,169.78029a16.03981,16.03981,0,0,1-6.35254-17.27783L45.04883,50.0176a12.00012,12.00012,0,0,1,22.831-1.12109L88.544,104h78.9121l20.66407-55.10449a12.00021,12.00021,0,0,1,22.83056,1.12109l27.32959,102.48584A16.03981,16.03981,0,0,1,231.92773,169.78029Z"
						/>
					</g>
				</svg>
				<button class="px-4 py-2 rounded-md text-black border border-gray-300">Edit Steps</button>
				<button class="px-4 py-2 rounded-md text-black border border-gray-300">Settings</button>
				<button
					class="px-4 py-2 rounded-md text-white border border-gray-300 bg-green-400 hover:bg-green-500"
					>New Build</button
				>
			</div>
		</div>
		<div class="py-4">
			<select
				bind:value={selected}
				on:change={() => (answer = '')}
				class="bg-white text-black font-medium shadow-md border border-gray-300 rounded-md w-fit text-center py-1 appearance-none"
			>
				{#each questions as question}
					<option value={question}>
						<div class="bg-white text-black flex flex-row gap-1">
							<h1>{question.text}</h1>
						</div>
					</option>
				{/each}
			</select>
		</div>
		<div
			class="flex flex-col divide-y-2 divide-gray-200 border border-gray-300 rounded-md overflow-hidden"
		>
			<div
				class="flex justify-between items-center w-full flex-row gap-1 bg-gray-100 px-2 md:px-4 py-2"
			>
				<div class="flex flex-row gap-2 justify-center items-center">
					<svg
						width="16px"
						height="16px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_iconCarrier">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M6 5C6 4.44772 6.44772 4 7 4C7.55228 4 8 4.44772 8 5C8 5.55228 7.55228 6 7 6C6.44772 6 6 5.55228 6 5ZM8 7.82929C9.16519 7.41746 10 6.30622 10 5C10 3.34315 8.65685 2 7 2C5.34315 2 4 3.34315 4 5C4 6.30622 4.83481 7.41746 6 7.82929V16.1707C4.83481 16.5825 4 17.6938 4 19C4 20.6569 5.34315 22 7 22C8.65685 22 10 20.6569 10 19C10 17.7334 9.21506 16.6501 8.10508 16.2101C8.45179 14.9365 9.61653 14 11 14H13C16.3137 14 19 11.3137 19 8V7.82929C20.1652 7.41746 21 6.30622 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.30622 15.8348 7.41746 17 7.82929V8C17 10.2091 15.2091 12 13 12H11C9.87439 12 8.83566 12.3719 8 12.9996V7.82929ZM18 6C18.5523 6 19 5.55228 19 5C19 4.44772 18.5523 4 18 4C17.4477 4 17 4.44772 17 5C17 5.55228 17.4477 6 18 6ZM6 19C6 18.4477 6.44772 18 7 18C7.55228 18 8 18.4477 8 19C8 19.5523 7.55228 20 7 20C6.44772 20 6 19.5523 6 19Z"
								fill="#bcb8b8"
							/>
						</g></svg
					>
					{item.branch}
				</div>
				<div class="flex flex-row gap-2 justify-center items-center">
					<svg
						width="16px"
						height="16px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M11.245 4.174C11.4765 3.50808 11.5922 3.17513 11.7634 3.08285C11.9115 3.00298 12.0898 3.00298 12.238 3.08285C12.4091 3.17513 12.5248 3.50808 12.7563 4.174L14.2866 8.57639C14.3525 8.76592 14.3854 8.86068 14.4448 8.93125C14.4972 8.99359 14.5641 9.04218 14.6396 9.07278C14.725 9.10743 14.8253 9.10947 15.0259 9.11356L19.6857 9.20852C20.3906 9.22288 20.743 9.23007 20.8837 9.36432C21.0054 9.48051 21.0605 9.65014 21.0303 9.81569C20.9955 10.007 20.7146 10.2199 20.1528 10.6459L16.4387 13.4616C16.2788 13.5829 16.1989 13.6435 16.1501 13.7217C16.107 13.7909 16.0815 13.8695 16.0757 13.9507C16.0692 14.0427 16.0982 14.1387 16.1563 14.3308L17.506 18.7919C17.7101 19.4667 17.8122 19.8041 17.728 19.9793C17.6551 20.131 17.5108 20.2358 17.344 20.2583C17.1513 20.2842 16.862 20.0829 16.2833 19.6802L12.4576 17.0181C12.2929 16.9035 12.2106 16.8462 12.1211 16.8239C12.042 16.8043 11.9593 16.8043 11.8803 16.8239C11.7908 16.8462 11.7084 16.9035 11.5437 17.0181L7.71805 19.6802C7.13937 20.0829 6.85003 20.2842 6.65733 20.2583C6.49056 20.2358 6.34626 20.131 6.27337 19.9793C6.18915 19.8041 6.29123 19.4667 6.49538 18.7919L7.84503 14.3308C7.90313 14.1387 7.93218 14.0427 7.92564 13.9507C7.91986 13.8695 7.89432 13.7909 7.85123 13.7217C7.80246 13.6435 7.72251 13.5829 7.56262 13.4616L3.84858 10.6459C3.28678 10.2199 3.00588 10.007 2.97101 9.81569C2.94082 9.65014 2.99594 9.48051 3.11767 9.36432C3.25831 9.23007 3.61074 9.22289 4.31559 9.20852L8.9754 9.11356C9.176 9.10947 9.27631 9.10743 9.36177 9.07278C9.43726 9.04218 9.50414 8.99359 9.55657 8.93125C9.61593 8.86068 9.64887 8.76592 9.71475 8.57639L11.245 4.174Z"
							stroke="#737373"
							stroke-width="1"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
					<svg
						width="12px"
						height="12px"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						fill="#000000"
					>
						<defs>
							<style>
								.cls-1 {
									fill: none;
									stroke: #595959;
									stroke-miterlimit: 10;
									stroke-width: 1px;
								}
							</style>
						</defs>
						<circle class="cls-1" cx="12" cy="12" r="10.5" /><line
							class="cls-1"
							x1="19.64"
							y1="4.36"
							x2="4.36"
							y2="19.64"
						/>
					</svg>
				</div>
			</div>
			{#each item.joblist as job}
				<div class="flex flex-row justify-between items-center bg-gray-50 px-2 md:px-4 py-2">
					<div class="flex flex-row gap-2 justify-center items-center">
						<svg
							width="25px"
							height="25px"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
								stroke="#8a8a8a"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M12 6V12"
								stroke="#8a8a8a"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M16.24 16.24L12 12"
								stroke="#8a8a8a"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
						<div class="flex flex-col gap-1 justify-start items-start">
							<span class="text-base font-medium text-black">{job.name}</span>
							<div class="text-start font-medium text-gray-400 text-sm">
								{job.auther} -- Build #{job.build} (HEAD) -- {job.time}
							</div>
						</div>
					</div>
					<div class="flex flex-row justify-center items-center gap-1">
						<svg
							width="16px"
							height="16px"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M12 7V12H9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
								stroke="#808080"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
						<span class="text-sm text-gray-500">Waiting for 1 week</span>
					</div>
				</div>
			{/each}
		</div>
	</div>
</main>
