<script lang="ts">
	import type { RepoBranchesStatsProps } from '$lib/types';
	import { cn } from '$lib/utils';
	export let stats: RepoBranchesStatsProps[];
</script>

<div class="flex flex-row flex-nowrap gap-0.5 h-10 justify-center items-end">
	{#each stats.slice(-30) as stat}
		<span
			class={cn(
				'w-[7px] rounded-[0.5px] h-10',
				`${stat.live === true ? 'bg-green-400' : stat.live === false ? 'bg-red-400' : 'bg-gray-300'}
                ${stat.value ? `h-${stat.value / 10}` : 'h-10'}`
			)}
		/>
	{/each}
</div>
