<script lang="ts">
	import { enhance } from '$app/forms';
	import Button from '$lib/components/ui/button/button.svelte';
	import * as Card from '$lib/components/ui/card';
	import { Input } from '$lib/components/ui/input';
	import { Label } from '$lib/components/ui/label';
	import { toasts, ToastContainer, FlatToast } from 'svelte-toasts';
	import { goto } from '$app/navigation';

	let name = '';
	let email = '';
	let password = '';

	async function onSignup(event: any) {
		event.preventDefault();
		const user = { name, email, password };
		const jsonString = JSON.stringify(user);
		console.log('jsonString in signup page', jsonString);

		try {
			const response = await fetch('http://app.realtorstat.com:8021/usersystem/user/register', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: jsonString
			});
			console.log('response from signup page', response);
			if (response.ok) {
				console.log('Successfully registered');
				// location.assign('/login');
				toasts.success('Registered Successfully', { placement: 'top-right', theme: 'light' });

				const response = await fetch('http://app.realtorstat.com:8021/usersystem/user/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: jsonString
				});
				console.log('response from login req from signup page', response);
				const data = await response.json();
				console.log('data from login req on signup page', data);
				console.log("token:", data.token);


				if (response.ok) {
					// Example: navigate('/dashboard');
					localStorage.setItem('auth_user', data.token);
					sessionStorage.setItem("auth_user", data.token)
					console.log('res', response);
					console.log('Login successful');
					toasts.success('LoggedIn Successfully', { placement: 'top-right', theme: 'light' });
					// location.assign('/dashboard');
					
					const headers = {
						Authorization: `Token ${data.token}`,
						'Content-Type': 'application/json' 
					};

					// Send the GET request
					const response2 = await fetch("http://app.realtorstat.com:8021/api/list-orgs", {
						method: 'GET',
						headers: headers
					});
					console.log("GET Response",response2);
					const data2 = await response2.json();
					console.log("data2 from get req",data2);
					if (response2.ok) {
						// throw redirect(302, '/dashboard');
						// throw {
						// 	redirect: '/dashboard',
						// 	status: 302
						// };

						goto('/dashboard');
					}
				} else {
					const responseData = await response.json();
					console.error('Login failed:', responseData.message);
				}
			} else {
				const responseData = await response.json();
				console.error('Registration failed in signup page:', responseData);
			}
		} catch (error) {
			console.error('An error occurred in signup:', error);
		}
	}
</script>

<div class="justify-center flex h-[90.5vh] items-center bg-slate-200">
	<ToastContainer placement="bottom-right" let:data>
		<FlatToast {data} />
		<!-- Provider template for your toasts -->
	</ToastContainer>
	<Card.Root class="md:w-[400px] shadow-md shadow-slate-300">
		<Card.Header class="space-y-1">
			<Card.Title class="text-2xl">Create an account</Card.Title>
			<Card.Description>Enter your email and password to create your account</Card.Description>
		</Card.Header>
		<form on:submit={onSignup}>
			<!-- You can use the 'enhance' binding to capture the values -->
			<Card.Content class="grid gap-4">
				<div class="grid gap-2">
					<Label for="username">User Name</Label>
					<Input id="name" type="name" placeholder="Name" name="name" bind:value={name} required />
				</div>
				<div class="grid gap-2">
					<Label for="email">Email</Label>
					<Input
						id="email"
						type="email"
						placeholder="m@example.com"
						name="email"
						bind:value={email}
						required
					/>
				</div>
				<div class="grid gap-2">
					<Label for="password">Password</Label>
					<Input
						id="password"
						type="password"
						placeholder="Password"
						name="password"
						bind:value={password}
						required
					/>
				</div>
			</Card.Content>
			<Card.Footer>
				<Button class="w-full" type="submit">Create account</Button>
			</Card.Footer>
		</form>
		<Card.Footer>
			<div>
				Already have an account? <a href="/login" class="text-blue-500 underline underline-offset-1"
					>Log In</a
				>
			</div>
		</Card.Footer>
	</Card.Root>
</div>
