<script lang="ts">
	import type { BulkCardProps } from '$lib/types.js';

	export let data;
	const apires: BulkCardProps = data.data;
	const item = apires.items[0];
	const job = item.joblist[0];

	let questions = [
		{ id: 1, text: `View` },
		{ id: 2, text: `Active` },
		{ id: 3, text: `Failures` }
	];

	let selected: { id: number; text: string };

	let answer = '';
</script>

<main class="flex flex-col justify-center items-center">
	<header
		class="absolute top-16 left-0 w-screen overflow-hidden py-4 bg-blue-100 text-center bg-opacity-60"
	>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint odit in quisquam quos! Fuga
		accusamus vero, sint accusantium deleniti velit magni saepe asperiores magnam totam. Nihil vel
		illum minima. Assumenda?
	</header>
	<div class="px-2 md:px-12 lg:px-20 pt-20 w-full flex flex-col gap-2">
		<div class="flex flex-row justify-start items-center w-full">
			<div class="flex flex-row gap-2 justify-center items-center">
				<div class="bg-gray-100 rounded-md hover:bg-gray-200 p-2 w-fit h-fit justify-items-start">
					<svg
						width="25px"
						height="25px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_iconCarrier">
							<path
								d="M9 6C9 7.65685 7.65685 9 6 9C4.34315 9 3 7.65685 3 6C3 4.34315 4.34315 3 6 3C7.65685 3 9 4.34315 9 6Z"
								stroke="#adacac"
								stroke-width="2"
							/>
							<path
								d="M21 18C21 19.6569 19.6569 21 18 21C16.3431 21 15 19.6569 15 18C15 16.3431 16.3431 15 18 15C19.6569 15 21 16.3431 21 18Z"
								stroke="#adacac"
								stroke-width="2"
							/>
							<path
								d="M15 3L12.0605 5.93945V5.93945C12.0271 5.97289 12.0271 6.02711 12.0605 6.06055V6.06055L15 9"
								stroke="#adacac"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M9 21L11.9473 18.0527V18.0527C11.9764 18.0236 11.9764 17.9764 11.9473 17.9473V17.9473L9 15"
								stroke="#adacac"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M12 6C14.8284 6 16.2426 6 17.1213 6.87868C18 7.75736 18 9.17157 18 12V15"
								stroke="#adacac"
								stroke-width="2"
							/>
							<path
								d="M12 18C9.17157 18 7.75736 18 6.87868 17.1213C6 16.2426 6 14.8284 6 12L6 9"
								stroke="#adacac"
								stroke-width="2"
							/>
						</g>
					</svg>
				</div>
				<div class="flex flex-col col-span-4 justify-center gap-1 flex-grow">
					<div
						class="text-sm font-semibold text-gray-700 flex flex-row justify-start items-center gap-2"
					>
						<h1 class="text-base lg:text-xl">{item.name}</h1>
						{#if item.ispublic}
							<span
								class="text-xs text-gray-500 px-2 py-0.5 rounded-sm border-[0.5px] border-gray-300"
								>public</span
							>
						{/if}
					</div>
					<div class="text-xs text-gray-500 md:text-sm lg:text-md">{item.git}</div>
				</div>
			</div>
		</div>
		<div
			class="mt-4 flex flex-col divide-y-2 divide-gray-200 border border-gray-300 rounded-md overflow-hidden"
		>
			<div
				class="flex justify-between items-center w-full flex-row gap-1 bg-gray-100 px-2 md:px-4 py-2"
			>
				<div class="flex flex-row justify-between items-center px-2 md:px-4 py-2 w-full">
					<div class="flex flex-col gap-1 justify-start items-start">
						<span class="text-base font-medium text-black">{job.name}</span>
						<div
							class="text-start font-medium text-gray-400 text-sm flex flex-row gap-2 justify-center items-center"
						>
							<span class="">Build {job.build}</span>
							<span class="px-1 text-gray-300 text-opacity-20">|</span>
							<span class="">{item.branch}</span>
							<span class="px-1 text-gray-300 text-opacity-20">|</span>
							<div class="flex flex-row justify-center items-center gap-1">
								<svg
									fill="#000000"
									width="16px"
									height="16px"
									viewBox="0 -1 26 26"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="m12.906 24-12.503-9.277c-.162-.128-.284-.3-.351-.497l-.002-.008c-.032-.09-.05-.193-.05-.301s.018-.211.052-.308l-.002.007 1.463-4.437zm-7.613-23.646 2.874 8.823h-6.655l2.823-8.823c.07-.207.263-.353.49-.353h.015-.001c.008 0 .017-.001.026-.001.212 0 .388.151.427.351v.003zm2.874 8.823h9.479l-4.739 14.823zm17.595 4.436c.032.09.05.193.05.301s-.018.211-.052.308l.002-.007c-.069.205-.191.376-.351.503l-.002.002-12.503 9.28 11.394-14.823zm-4.285-13.259 2.823 8.823h-6.655l2.874-8.823c.04-.203.216-.354.428-.354.009 0 .018 0 .027.001h-.001.014c.227 0 .419.146.489.349l.001.004z"
									/>
								</svg>
								<span class="">HEAD</span>
							</div>
						</div>
					</div>
					<div class="flex flex-row justify-center items-center gap-2">
						<div class="flex flex-row justify-center items-center gap-1">
							<svg
								width="16px"
								height="16px"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M12 7V12H9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
									stroke="#808080"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
							<span class="text-sm text-gray-500">Waiting for 1 week</span>
						</div>
						<div class="p-2 bg-gray-300 hover:bg-gray-400 rounded-full">
							<svg
								width="25px"
								height="25px"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M12 2.75C6.89137 2.75 2.75 6.89137 2.75 12C2.75 17.1086 6.89137 21.25 12 21.25C17.1086 21.25 21.25 17.1086 21.25 12C21.25 6.89137 17.1086 2.75 12 2.75ZM1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 7.25C12.4142 7.25 12.75 7.58579 12.75 8V11.6893L15.0303 13.9697C15.3232 14.2626 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2626 15.3232 13.9697 15.0303L11.4697 12.5303C11.329 12.3897 11.25 12.1989 11.25 12V8C11.25 7.58579 11.5858 7.25 12 7.25Z"
									fill="#fff"
								/>
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div class="p-2 justify-start items-center">
				<div
					class="flex flex-row justify-start items-center gap-1 px-3 py-1.5 w-fit m-2 rounded-md bg-gray-100 border-[0.5px] border-gray-300"
				>
					<svg
						width="16px"
						height="16px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M12 7V12H9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
							stroke="#808080"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
					<span class="text-sm text-gray-400 font-medium">{job.buildfile}</span>
				</div>
			</div>
			<div
				class="flex justify-between items-center w-full flex-row gap-1 bg-gray-100 px-2 md:px-4 py-2"
			>
				<div class="flex flex-row justify-between items-center px-2 md:px-4 py-2 w-full">
					<div class="flex flex-row gap-2 justify-start items-center">
						<div
							class="rounded-full p-1 bg-gray-200 hover:bg-gray-300 justify-center items-center flex"
						>
							<svg
								fill="#838583"
								width="25px"
								height="25px"
								viewBox="0 0 256 256"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g fill-rule="evenodd">
									<circle cx="128.5" cy="139.5" r="18.5" />
									<path
										d="M89.269 69.823l39.943-23.625 38.081 23.376.243 44.513-18.906 12.071s-11.12-10.516-21.235-10.518c-10.117-.002-19.2 10.51-19.2 10.51l-17.83-12.01-1.096-44.317zm4.64 40.261l32.733-19.52-.34-38.05L92.692 72.5l1.217 37.585zm1.83 4.806c1.828 0 12 6.919 12 6.919s9.188-10.227 20.027-9.894c10.838.333 21.319 10.165 21.319 10.165l14.32-8.436-34.5-18.498S93.911 114.89 95.74 114.89zm-8.066 94.924l-40.431-22.78 1.203-44.667L87.873 118.9l18.907 11.338s-3.414 14.388 1.642 23.15c5.057 8.762 18.569 11.871 18.569 11.871l-.486 21.446-38.832 23.109zm32.547-24.15l-33.272-18.586-32.781 19.318 34.112 19.115 31.94-19.846zm3.247-3.987c-.915-1.583-.008-13.852-.008-13.852s-13.317-3.344-18.448-12.897c-5.13-9.552-1.99-23.045-1.99-23.045l-14.467-8.184 1.231 39.127s34.596 20.434 33.682 18.85zm84.415-40.856l.488 46.404-39.284 21.292-38.671-22.046-1-21.41s13.532-2.87 18.592-11.63c5.06-8.76 2.631-23.383 2.631-23.383l18.316-10.436 38.928 21.209zm-37.187-16.112l.54 38.108 33.12 18.73-.502-39.099-33.158-17.739zm-4.077.183l-11.992 6.932s2.129 14.571-3.579 23.79c-5.708 9.22-17.329 11.881-17.329 11.881l.146 14.62 32.27-19.63.484-37.593z"
									/>
								</g>
							</svg>
						</div>
						<div
							class="flex flex-col justify-start items-start gap-1 text-gray-400 text-sm font-medium"
						>
							<span>{job.auther}</span>
							<span class="text-xs font-medium text-gray-300">{job.time}</span>
						</div>
						<span class="text-xs font-medium text-gray-300">|</span>
						<span class="text-xs font-medium text-gray-400">Triggered From API</span>
					</div>
					<button
						class="px-3 py-2 text-red-500 font-medium text-center tracking-normal rounded-md border-[0.5px] border-gray-300 shadow-xs bg-white"
					>
						Cancel
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="px-2 md:px-12 lg:px-20 pt-8 w-full flex flex-col gap-2">
		<div class="flex flex-row justify-between items-center w-full">
			<div class="flex flex-row justify-center items-center gap-4">
				<h1 class="text-base lg:text-xl font-semibold">Job List</h1>
				<label
					for="jobSwitch"
					class="shadow-xs relative inline-flex cursor-pointer select-none items-center justify-center rounded-md border border-gray-200 bg-white p-1"
				>
					<input type="checkbox" id="themeSwitcherOne" class="hidden peer" />
					<span
						class="flex items-center space-x-[6px] rounded bg-gray-100 text-purple-400 px-4 py-0.5 text-sm font-medium"
					>
						All
					</span>
					<span class="flex items-center space-x-[6px] rounded px-4 py-0.5 text-sm font-medium">
						Failures
					</span>
				</label>
			</div>
			<div class="py-4">
				<select
					bind:value={selected}
					on:change={() => (answer = '')}
					class="bg-white text-black font-medium shadow-md border border-gray-300 rounded-md w-fit text-center py-1 appearance-none"
				>
					{#each questions as question}
						<option value={question}>
							<div class="bg-white text-black flex flex-row gap-1">
								<h1>{question.text}</h1>
							</div>
						</option>
					{/each}
				</select>
			</div>
		</div>
		<div
			class="mt-4 flex flex-col divide-y-2 divide-gray-200 border border-gray-300 rounded-md overflow-hidden"
		>
			<div class="p-2 justify-between items-center flex w-full">
				<div class="flex flex-row justify-start items-center gap-1 px-3 py-1.5 w-fit">
					<svg
						width="16px"
						height="16px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M12 7V12H9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
							stroke="#808080"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
					<span class="text-sm text-gray-400 font-medium">{job.buildfile}</span>
				</div>
				<div class="flex flex-row justify-center items-center gap-1">
					<svg
						width="16px"
						height="16px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M12 7V12H9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
							stroke="#808080"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
					<span class="text-sm text-gray-500">Waiting for job minutes 1w 1d</span>
				</div>
			</div>
		</div>
	</div>

	<footer class="pt-8 font-semibold flex flex-row gap-4">
		<h1 class="text-sm text-gray-400 text-center capitalize">
			<span class="decoration decoration-gray-400 decoration-dashed underline underline-offset-2"
				>total job run time:
			</span> 0s
		</h1>
	</footer>
</main>
