<script>
    import { toasts, ToastContainer, FlatToast } from 'svelte-toasts';
    // import Button from '$lib/components/ui/button/button.svelte';
    import { onMount } from "svelte";

    /**
     * @typedef member
     * @property {string} name
     * @property {string} email
     * @property {string} id
    */
    /**
     * @type {member[]}
     */
    let members = [];

    async function fetchMembers() {
        try {
            const user = { name:"Dmitri Dimov", email:"dimametahnet@gmail.com"};
 
            const jsonString = JSON.stringify(user);
            // @ts-ignore
            let token = JSON.parse(localStorage.getItem("session_id")).token;
            alert(token);
            const response = await fetch('https://api.dreampotential.org/api/list-members/', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
                    Authorization: `Bearer ${ token }`,
				}
			});
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            
            } catch (error) {
            console.error('Error fetching data:', error);
        }
    }

    // Fetch the data when the component is mounted
    onMount(()=>{
        fetchMembers();
    });
</script>

<div id="members_list">
    <div id="member_list_header">
        <div><h1>Member List</h1></div>
    </div>
    <div id="members_data_section">
        <ul id="members_list_data">
            {#each members as member (member.id)}
                <li>{member.name}</li>
            {/each}
        </ul>
    </div>
</div>