<script lang="ts">
	import { enhance } from '$app/forms';
	import Button from '$lib/components/ui/button/button.svelte';
	import * as Card from '$lib/components/ui/card';
	import { Input } from '$lib/components/ui/input';
	import { Label } from '$lib/components/ui/label';
	import { toasts, ToastContainer, FlatToast } from 'svelte-toasts';
	import { goto } from '$app/navigation';

    let name = '';

    async function onSignup(event: any) {
        event.preventDefault();
        const user = { name };
        const jsonString = JSON.stringify({ name: user.name });
        console.log('jsonString in Org page', jsonString);
        const apiKey = 'Token 1d0994c866de11e4536336e67451ee53de0223fd9e831974454cfc47b3df2dc5'; // Replace with your actual API key
        try {
            const response = await fetch('http://app.realtorstat.com:8021/api/create-org', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `${apiKey}` 
                },
                body: jsonString
            });
            console.log('response from Org', response);
            if (response.ok) {
                console.log('Successfully Creater');
                goto("/dashboard");
            } else {
                const responseData = await response.json();
                console.error('Registration failed in Org:', responseData);
            }
        } catch (error) {
            console.error('An error occurred in Org:', error);
        }
    }
</script>
<style>
	.mainContainer{
		display: flex;
		justify-content: space-between;
		margin: 100px 200px 0 200px;
		height: 400px;
	}
	.Left{
		background-color: white;
		width: 49%;
	}
	.Right{
		width: 49%;
		width: 450px;
		background-image: url("https://img.freepik.com/premium-photo/gradient-purple-blue-color-abstract-background_27109-275.jpg");
	}
	.headerContainer{
		border-radius: 10px;
		background-color: rgb(153, 208, 230);
		align-items: center;
		display: flex;
	}
	.headerContainer p{
		font-size: 13px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.headerContainer img{
        height: 35px;
		margin: 0 20px 0 10px;
	}
	.miniContainerOfMain{
		display: flex;
		justify-content: space-between;
	}
	.miniContainerOfMain p{
		margin-right: 10px;
	}
	.miniContainerOfMain h3{
          margin-bottom: 18px;
		  font-size: 17px;
		  font-weight: 600;
	}
	form{
		margin-top: 23px;
	}
	form p{
		font-size: 13px;
	}
	label{
		margin: 10px 0 10px 0;
	}
    form input{
		border: 1px solid rgba(0, 0, 0, 0.383);
		height: 35px;
		border-radius: 5px;
		padding: 0 10px;
	}
	form button{
	 background-color: rgb(159, 80, 198);
	color: white;
	 width: 120px;
	 height: 35px;
	 border-radius: 20px;
	 margin-top: 15px;
	 font-size: 15px;
	}
</style>
<div class="mainContainer">
<div class="Left">
        <div class="headerContainer">
			<img src="https://cdn-icons-png.flaticon.com/512/5769/5769490.png" alt="">
			<div class="miniHeadContainer">
				<h3>Welcome, A Rosen</h3>
				<p>Tell us a bit about yourself so we can make Buildkite work for you.</p>
			</div>
		</div>

		<form on:submit={onSignup}>
				<div class="grid gap-2">
                    <div class="miniContainerOfMain">
						<h3>Set up your Account</h3>
                        <p>1 / 4</p>
					</div>
					<p>Let's Create your first Buildkite Organization -- A central Place for your pipelines test sites , teams and dashboard</p>
					<label for="username">Organization Name</label>
					<input id="name" type="name" placeholder="Name" name="name" bind:value={name} required />
				</div>			
			
				<button class="w-full" type="submit">Continue</button>
		</form>
</div>
<div class="Right"></div>
</div>